@font-face {
  font-family: "Accuratist";
  src: url("../fonts/accuratist.regular.ttf") format("truetype");
}
body {
    background: #2F4B26;
}
.title {
  font-family: Accuratist, cursive, fantasy, monospace;
  font-size: 3em;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px #85BDA6;

}
.list {
  margin: 10px;
  border: 2px dashed black;
  width: auto;
  height: 10px;
}
.list-item {
  display: inline-block;
  margin: 5px;
  float: left;
  border-radius: 10px;
  height: 100px;
  box-shadow: 0 0 10px #85BDA6;
  cursor: pointer;
}
