body {
  /* From Lea Verou http://lea.verou.me/css3patterns/#starry-night */
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  /* */
  width: 1300px;
  font-family: sans-serif;
}
.text-center {
  text-align: center;
}
rect {
  cursor: crosshair;
}
.legend {
  fill: #F00;
  font-weight: bold;
  text-shadow: 0 0 1px black;
}
.chart {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 1250px;
  height: 670px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5px;
  padding-bottom: 15px;
}

.axis text {
  font-family: sans-serif;
  font-size: 0.75em;
}
.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.tooltip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.tooltip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.tooltip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.tooltip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
